.alert{
    margin-bottom: 0;
}
.main-container{
    margin: 0 !important;
    height: 100vh;
    width: 100%;
    background-color: rgb(231, 226, 226);
    display: flex;
    justify-content: center;
}
.form-container{
    background-color: white;
    width: 450px;
    height: 478px;
    padding: 27px 27px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
}
.form-container form input, textarea{
    width: 366px;
}
